<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false">
        <activity
            android:name="com.kryonlabs.kryon.KryonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowLayoutInDisplayCutoutMode="never">
            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
            <meta-data
                android:name="com.kryonlabs.kryon.SECURE_PREFERENCES"
                android:value="pass_secure" />
            <meta-data
                android:name="com.kryonlabs.kryon.SECURE_DEFAULT_KEY_PREFIX"
                android:value="pass_master_key" />
            <meta-data
                android:name="com.kryonlabs.kryon.APP_PREFERENCES"
                android:value="pass_preferences" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
